.section-about {
    background-color: $color-light-green;;
    padding: 20rem 0 10rem 0;
    margin-top: -20vh;

    @include respond(tab-port){
        padding: 17rem 0 5rem 0;
    }
}

.section-features {
    padding: 20rem 0;
  //  height: 95vh;
    background-image: url(../../img/nat-4.jpg);
    background-size: cover;
 //   transform: skewY(-7deg) ;
 //   margin-top: -10rem;

//   & > * {
//       transform: skewY(7deg);
 //  }

 @include respond(tab-port){
    padding: 10rem 0;
}
}

.section-cakes {
    background-color: $color-light-green;
    padding: 10rem 0 15rem 0;
    margin-top: -10rem;
}

.section-moreCakes {
   // background-color: $color-grey-light-1;
    background-image: url(../../img/nat-4.jpg);
    background-size: cover;
    padding: 10rem 0 10rem 0;
    margin-top: -10rem;

    @include respond(tab-port){
        padding: 10rem 0;
    }
}